.project__viewer {
  grid-area: viewer;
  /* width: 640px;
  height: 540px; */
  width: 640px;
  height: 540px;
  /* grid-area: container; */
  /* background-color: #fff; */
  border: 1px solid #ededed;
}

.adsk-viewing-viewer #toolbar-modelStructureTool{display:none!important}
.adsk-viewing-viewer #toolbar-explodeTool{display:none!important}
.adsk-viewing-viewer #toolbar-measurementSubmenuTool{display:none!important}
.adsk-viewing-viewer #settingsTools{display:none!important}
.adsk-viewing-viewer #navTools{display:none!important}



