.header__link {
  text-transform: uppercase;
  color: #069583;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  text-decoration: none;
  margin-top: 0;
  margin-left: 0;
  margin-right: 35px;
  margin-bottom: 0;
}