.project {
  width: 100%;
  margin: 0;
  display: grid;
  gap: 0;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'viewer container';
}

.project:nth-child(2n) {
  grid-template-areas: 'container viewer';
}